<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pig.modules.role.mapper.RdRoleMapper">

    <resultMap type="com.pig.modules.role.entity.RdRole" id="RdRoleMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
        <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="roleAlias" column="role_alias" jdbcType="VARCHAR"/>
        <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="RdRoleMap">
        select
          id, parent_id, role_name, sort, role_alias, is_deleted
        from rd_role
        where id = #{id}
    </select>

    <select id="queryByIds" resultType="com.pig.modules.role.entity.RdRole">
        select
            id, parent_id, role_name, sort, role_alias, is_deleted
        from rd_role
        where id in
        <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="RdRoleMap">
        select
          id, parent_id, role_name, sort, role_alias, is_deleted
        from rd_role
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="parentId != null">
                and parent_id = #{parentId}
            </if>
            <if test="roleName != null and roleName != ''">
                and role_name = #{roleName}
            </if>
            <if test="sort != null">
                and sort = #{sort}
            </if>
            <if test="roleAlias != null and roleAlias != ''">
                and role_alias = #{roleAlias}
            </if>
            <if test="isDeleted != null">
                and is_deleted = #{isDeleted}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from rd_role
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="parentId != null">
                and parent_id = #{parentId}
            </if>
            <if test="roleName != null and roleName != ''">
                and role_name = #{roleName}
            </if>
            <if test="sort != null">
                and sort = #{sort}
            </if>
            <if test="roleAlias != null and roleAlias != ''">
                and role_alias = #{roleAlias}
            </if>
            <if test="isDeleted != null">
                and is_deleted = #{isDeleted}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into rd_role(parent_id, role_name, sort, role_alias, is_deleted)
        values (#{parentId}, #{roleName}, #{sort}, #{roleAlias}, #{isDeleted})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into rd_role(parent_id, role_name, sort, role_alias, is_deleted)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.parentId}, #{entity.roleName}, #{entity.sort}, #{entity.roleAlias}, #{entity.isDeleted})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into rd_role(parent_id, role_name, sort, role_alias, is_deleted)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.parentId}, #{entity.roleName}, #{entity.sort}, #{entity.roleAlias}, #{entity.isDeleted})
        </foreach>
        on duplicate key update
        parent_id = values(parent_id),
        role_name = values(role_name),
        sort = values(sort),
        role_alias = values(role_alias),
        is_deleted = values(is_deleted)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update rd_role
        <set>
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="roleName != null and roleName != ''">
                role_name = #{roleName},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
            <if test="roleAlias != null and roleAlias != ''">
                role_alias = #{roleAlias},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from rd_role where id = #{id}
    </delete>

</mapper>

