<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pig.modules.room.mapper.RoomManageMapper">

    <resultMap type="com.pig.modules.room.entity.RoomManage" id="BizRoomManageMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="roomType" column="room_type" jdbcType="VARCHAR"/>
        <result property="roleType" column="role_type" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="BizRoomManageMap">
        select
          id, name, room_type, role_type, create_by, update_by, create_time, update_time
        from biz_room_manage
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="BizRoomManageMap">
        select
          id, name, room_type, role_type, create_by, update_by, create_time, update_time
        from biz_room_manage
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="roomType != null and roomType != ''">
                and room_type = #{roomType}
            </if>
            <if test="roleType != null">
                and role_type = #{roleType}
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by = #{createBy}
            </if>
            <if test="updateBy != null and updateBy != ''">
                and update_by = #{updateBy}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from biz_room_manage
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="roomType != null and roomType != ''">
                and room_type = #{roomType}
            </if>
            <if test="roleType != null">
                and role_type = #{roleType}
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by = #{createBy}
            </if>
            <if test="updateBy != null and updateBy != ''">
                and update_by = #{updateBy}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into biz_room_manage(name, room_type, role_type, create_by, update_by, create_time, update_time)
        values (#{name}, #{roomType}, #{roleType}, #{createBy}, #{updateBy}, #{createTime}, #{updateTime})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into biz_room_manage(name, room_type, role_type, create_by, update_by, create_time, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.name}, #{entity.roomType}, #{entity.roleType}, #{entity.createBy}, #{entity.updateBy}, #{entity.createTime}, #{entity.updateTime})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into biz_room_manage(name, room_type, role_type, create_by, update_by, create_time, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.name}, #{entity.roomType}, #{entity.roleType}, #{entity.createBy}, #{entity.updateBy}, #{entity.createTime}, #{entity.updateTime})
        </foreach>
        on duplicate key update
        name = values(name),
        room_type = values(room_type),
        role_type = values(role_type),
        create_by = values(create_by),
        update_by = values(update_by),
        create_time = values(create_time),
        update_time = values(update_time)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update biz_room_manage
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="roomType != null and roomType != ''">
                room_type = #{roomType},
            </if>
            <if test="roleType != null">
                role_type = #{roleType},
            </if>
            <if test="createBy != null and createBy != ''">
                create_by = #{createBy},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from biz_room_manage where id = #{id}
    </delete>

</mapper>

