<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pig.modules.system.mapper.ProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pig.modules.system.entity.Product">
        <id column="id" property="id" />
        <result column="product_code" property="productCode" />
        <result column="product_name" property="productName" />
        <result column="product_img" property="productImg" />
        <result column="product_path" property="productPath" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="sort" property="sort" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, product_code, product_name, product_img, product_path, create_time, update_time,sort
    </sql>

    <select id="getUserProduct" resultMap="BaseResultMap">
        select * from rd_product where id in (
            SELECT
                product_id
            FROM
                rd_product_menu
            WHERE
                    menu_id IN (
                    SELECT
                        id
                    FROM
                        rd_menu
                    WHERE
                        is_deleted = 0
                      AND category = 1
                      AND id IN ( SELECT menu_id FROM rd_role_menu WHERE role_id IN (
                <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
                        )))
            GROUP BY
                product_id )
order by sort asc
    </select>

</mapper>
