<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pig.modules.system.mapper.QuartzMapper">
  <resultMap id="BaseResultMap" type="com.pig.modules.system.entity.DTO.QuartzJobDTO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="TRIGGER_NAME" jdbcType="VARCHAR" property="triggerName" />
    <id column="TRIGGER_GROUP" jdbcType="VARCHAR" property="triggerGroup" />
    <result column="JOB_NAME" jdbcType="VARCHAR" property="jobName" />
    <result column="JOB_GROUP" jdbcType="VARCHAR" property="jobGroup" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="NEXT_FIRE_TIME" jdbcType="VARCHAR" property="nextFireTime" />
    <result column="PREV_FIRE_TIME" jdbcType="VARCHAR" property="prevFireTime" />
    <result column="PRIORITY" jdbcType="INTEGER" property="priority" />
    <result column="TRIGGER_STATE" jdbcType="VARCHAR" property="triggerState" />
    <result column="TRIGGER_TYPE" jdbcType="VARCHAR" property="triggerType" />
    <result column="START_TIME" jdbcType="VARCHAR" property="startTime" />
    <result column="END_TIME" jdbcType="VARCHAR" property="endTime" />
    <result column="CRON_EXPRESSION" jdbcType="VARCHAR" property="cronExpression" />
    <result column="JOB_CLASS_NAME" jdbcType="VARCHAR" property="jobClassName" />
  </resultMap>

  <select id="selectQuartzPage" resultMap="BaseResultMap">
    select qt.TRIGGER_NAME,qt.TRIGGER_GROUP,qt.JOB_NAME,qt.JOB_GROUP,qt.DESCRIPTION,qt.PRIORITY
         ,qt.TRIGGER_STATE,qt.TRIGGER_TYPE,
        FROM_UNIXTIME(qt.NEXT_FIRE_TIME/1000,'%Y-%m-%d %h:%i:%s') as NEXT_FIRE_TIME,
        FROM_UNIXTIME(qt.PREV_FIRE_TIME/1000,'%Y-%m-%d %h:%i:%s') as PREV_FIRE_TIME,
        FROM_UNIXTIME(qt.START_TIME/1000,'%Y-%m-%d %h:%i:%s') as START_TIME,
        FROM_UNIXTIME(qt.END_TIME/1000,'%Y-%m-%d %h:%i:%s') as END_TIME,
           qjd.JOB_CLASS_NAME,qct.CRON_EXPRESSION from qrtz_triggers qt left join qrtz_job_details qjd on qt.SCHED_NAME = qjd.SCHED_NAME and qt.JOB_NAME = qjd.JOB_NAME and qt.JOB_GROUP = qjd.JOB_GROUP
    left join qrtz_cron_triggers qct on qt.SCHED_NAME = qct.SCHED_NAME and qt.TRIGGER_NAME = qct.TRIGGER_NAME and qt.TRIGGER_GROUP = qct.TRIGGER_GROUP
    ${ew.customSqlSegment}
  </select>
    <update id="updateJobNextTime" parameterType="com.pig.modules.system.entity.DTO.QuartzJobDTO">
        update qrtz_triggers set NEXT_FIRE_TIME = #{params.nextFireTime} where TRIGGER_GROUP = #{params.triggerGroup}
        and JOB_NAME = #{params.jobName}
    </update>
</mapper>